<div class="row">
    <div class="col-md-6 offset-md-3 jumbotron">
        <form method="post" action="/home/upload" enctype="multipart/form-data">
            <input type="file" name="imageFile" />
            <input type="text" class="form-control mt-3" name="password" placeholder="Custom Password" />
            <br />
            <button class="btn btn-primary">Upload</button>
        </form>
    </div>
</div>