@model UploadViewModel

<div class="row">
    <div class="col-md-8 offset-md-2 jumbotron">
        <h1>Thank you for uploading your image!</h1>
        <h3 class="mt-3">Here is the link to share with your friends:</h3>
        <h3>
            <a href="@Model.ImageLink">@Model.ImageLink</a>
        </h3>    
        <h3 class="mt-3">Don't forget to share with them your password of '@Model.Password'</h3>
    </div>
</div>