@model ViewImageViewModel

<div class="row">
    <div class="col-md-8 offset-md-2">
        <img src="/Uploads/@Model.Image.FileName" style="width: 800px;" />
        <br />
        <h3>Views: @Model.Image.Views</h3>
    </div>
</div>